@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Regular.ttf')  format('truetype')
}

body {
  font-family: 'Merriweather', Fallback, sans-serif;
  line-height: 1.5;
  text-align: justify
}

body > p:first-child::first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}